* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins";
}
.main {
  width: 100%;
  height: 100vh;
  background-color: #333;
  padding: 0 11%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "poppins";
}
.img img {
  width: 350px;
  padding: 0 10%;
}
.text h1 {
  font-size: 50px;
  color: white;
  position: relative;
  top: 80px;
}
.text h1::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 4px;
  background-color: tomato;
  left: 0;
  bottom: 2px;
}
.text p {
  font-size: 17px;
  color: white;
  line-height: 28px;
  margin: 30px 0 45px 0;
  max-width: 480;
  position: relative;
  top: 70px;
}
hr {
  border: 0;
  height: 30px;
  border-style: solid;
  border-color: tomato;
  border-width: 1px 0 0 0;
  border-radius: 20px;
  position: relative;
  top: 45px;
}
hr:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: tomato;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

@media screen and (max-width: 480px) {
  .main {
    flex-direction: column;
    height: 185vh;
  }
  .img img {
    width: 250px;
    padding: 0 10%;
    border-radius: 300px;
  }
  .text h1 {
    font-size: 45px;
    position: relative;
    left: 10px;
    top: 20px;
  }
  .text p {
    font-size: 16px;
    position: relative;
    top: 20px;
  }
  hr {
    position: relative;
    top: 20px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .main {
    flex-direction: column;
    height: 180vh;
  }
  .img img {
    width: 360px;
    padding: 0 10%;
    border-radius: 300px;
  }
  .text h1 {
    font-size: 60px;
    position: relative;
    left: 30px;
    top: 20px;
  }
  .text p {
    font-size: 32px;
    line-height: 38px;
    position: relative;
    top: 20px;
  }
  hr {
    position: relative;
    top: 10px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
  .main {
    flex-direction: column;
    height: 165vh;
  }
  .img img {
    width: 400px;
    padding: 0 10%;
    border-radius: 300px;
  }
  .text h1 {
    font-size: 65px;
    position: relative;
    left: 20px;
    top: 30px;
  }
  .text p {
    font-size: 34px;
    line-height: 40px;
    position: relative;
    top: 30px;
  }
  hr {
    position: relative;
    top: 10px;
  }
}
